/*font style*/
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn{
    background-color: #4E47FF;
    color: white;
    padding: 7px 20px 7px 20px;
    border-radius: 5px;
    border: none;
}

body{
    background-color: #f6f8ff;
}


nav, main{
    margin-left: 150px;
    margin-right: 150px;
}

/*header style start*/

header{
    background-image: url(assets/Hero-bg.png);
    width:100%;
    height:480px;

}

.logo-color{
    color: #4E47FF;
}

.banner{
    text-align: center;
    margin:150px 0px;

}

.banner-content{

}

.banner-btn{

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{

}

.nav-logo{
    font-size: 34px;

}

.nav-btn{

}

/*header style end*/

/*action section start*/
.action{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.action-image{
    height: 200px;
    width: 250px;
    border-radius: 48px;
}

.productive-users-section{
    border-radius: 24px;
    background-color:#e6e6ff;
    padding: 10px;
    margin-top: 60px;
}

.pus-title{
    text-align: center;
    font-weight: bold;
}

.sub-title{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.sub-title-head{
    color: #4E47FF;
    font-size: 50px;
}

.sub-title-content{
    font-size: small;
}
/*action section end*/

/*feedback section start*/
.users-feedback{
    margin-top: 70px;
}

.feedback-heading-title{
    text-align: center;
}

.feedback-des{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.photo-and-namedate{
    display: flex;

}

.photo{
    border-radius:100px;
}

.rivewer-photo{
    border-radius: 5px;
    margin-top: 30px;
}
.name-date{
    margin-left: 10px;
    margin-top: 10px;
}
.person{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
/*Feedback setion end*/

/*touch section start*/
.touch-section{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.right-side{
    display: block;
}

.lets-title{
    font-size: 91px;
    font-weight: bold;
}
/*footer style*/
footer{
    text-align: center;
    margin-top: 100px;
    background-color: white;
    height: 200px;
    width: 100%;
    padding-top: 50px;
}

.footer-logo{
    font-size: 50px;
}

.footer-btn{

}

.footer-btn ul{
    text-align: center;
    display: flex;
    margin-left: 420px;
    gap: 40px;
}

div ul li{
    list-style-type: none;

}

.my-button:hover{
    background-color: cadetblue;
}